@mixin button($color: green) {
    height: 24px;
    min-width: 24px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 3px;

    & span {
        font-size: 24px;
    }

    &:active {
        color: $color;
    }

    &:hover {
        background-color: $sell-background-color;
        cursor: pointer;
    }
}

@mixin clear-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}