$header-height: 54px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-sell-width: 40px;
$row-height:24px;
$sell-width: 120px;

$border: 1px solid #fec89a;
/* $sell-baclground-color: rgba(143, 143, 143, 0.2); */
$sell-background-color: #f8edeb;