@import "variables";
@import "mixins";

.dashboard {
    &__header {
        position: fixed;
        width: 100vw;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        box-shadow: 0 2px 5px 2px #d8e2dc;
        z-index: 1000;
    }

    &__new {
        padding: 1rem;
        padding-top: 80px;
        width: 100vw;
        background-color: #e8e8e4;
    }

    &__create {
        width: 150px;
        height: 150px;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        font-size: 1.4rem;
        color: #9d8189;
        //temp
        border: 1px solid #9d8189;

        &:hover {
            color: #74c69d;
            border: 1px solid #74c69d;
            cursor: pointer;
        }
    }

    &__view {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__table {
        padding: 1rem;
    }

    &__list-header {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
    }

    &__list{
        @include clear-list;
    }

    &__record {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        margin: 10px auto;

        &:hover {
            background-color: #ece4db;
            border-radius: 20px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        
    }
}