@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    max-width: 100%;
    height: 100%;
    font-size: 0.8rem;
}