@import "variables";
@import "mixins";

.table {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 2px;

    .row {
        width: 100vw;;
        display: flex;
        min-height: 20px;
        height: $row-height;
    }

    .row-info {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-sell-width;
        border: $border;
        border-top: none;
        background-color: $sell-background-color;
        position: relative;
        height: 100%;
    }

    .row-data {
        display: flex;
    }

    .column {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        width: $sell-width;
        border: $border;
        border-top: none;
        border-left: none;
        background-color: $sell-background-color;
        position: relative;
    }

    .cell {
        display: flex;
        padding: 3px;
        min-width: 40px;
        width: $sell-width;
        height: 100%;
        border: 1px solid #ffe5d9;
        border-top: none;
        border-left: none;
        outline: none;

        &.selected {
            border: none;
            outline: 1px solid #9d8189;
            z-index: 2;
        }
    }

    .col-resize, .row-resize {
      position: absolute;
      opacity: 0;
      background-color: #9d8189;
      right: 0;
      bottom: 0;
      z-index: 1000;

      &:hover {
        opacity: 1 !important;
      }
    }

    .col-resize {
      top: 0;
      width: 4px;

      &:hover {
        cursor: col-resize;
      }
    }

    .row-resize {
      left: 0;
      height: 4px;

      &:hover {
        cursor: row-resize;
      }
    }
}